.header{
    display: flex;
    justify-content: center;
    background-color: gray;
    border: solid white;
    font-weight: bold;
}

.userContainer{
    display: flex;
    flex-flow: row wrap;
    width: 26%;
}

.editProductContainer{
    display: flex;
    flex-flow: row wrap;
}
